@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-wiggle: wiggle 0.5s ease-in-out 3;
  @keyframes wiggle {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-15deg); }
    75% { transform: rotate(15deg); }
  }
}
